.WizardSteps {
    margin: 0 0 15px;

    button {
        padding: 10px 12px 10px;
        margin-right: 5px;
        background: #d6d6d6;
        position: relative;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 2px;
        border:none !important;
        box-shadow:none !important;
        outline:none;
    }

    button:before {
        width: 0;
        height: 0;
        border-top: 20px inset transparent;
        border-bottom: 20px inset transparent;
        border-left: 20px solid #f5f5f5;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
    }

    button:after {
        width: 0;
        height: 0;
        border-top: 20px inset transparent;
        border-bottom: 20px inset transparent;
        border-left: 20px solid #d6d6d6;
        position: absolute;
        content: "";
        top: 0;
        right: -20px;
        z-index: 2;
    }

    button:first-child:before,
    button:last-child:after {
        border: none;
    }

    button:first-child {
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    button:last-child {
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

    .badge {
        margin: 0 5px 0 18px;
        position: relative;
        top: -1px;
    }

    button:first-child .badge {
        margin-left: 0;
    }

    button i {
        margin-left: 5px;
    }

    .WizardSteps-current {
        background: #007ACC;
        color: #fff;
    }

    .WizardSteps-current:after {
        border-left-color: #007ACC;
    }
}
