main {
  padding: 50px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  zoom: 1;
}

main:after, main:before {
  content: "";
  display: table;
}

main:after {
  clear: both;
}

.desk, .desk-placeholder, .desk-placeholder:hover {
  width: 270px;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  min-height: 100px;
  background-color: #e2e4e6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  border-radius: 3px;
  padding-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
}

.desk-placeholder .desk-head, .desk-placeholder:hover .desk-head, .desk .desk-head {
  position: relative;
  padding: 5px 8px;
  margin-bottom: 10px;
  zoom: 1;
}

.desk-placeholder .desk-head:after, .desk-placeholder .desk-head:before, .desk-placeholder:hover .desk-head:after, .desk-placeholder:hover .desk-head:before, .desk .desk-head:after, .desk .desk-head:before {
  content: "";
  display: table;
}

.desk-placeholder .desk-head:after, .desk-placeholder:hover .desk-head:after, .desk .desk-head:after {
  clear: both;
}

.desk-placeholder .desk-head .desk-name, .desk-placeholder:hover .desk-head .desk-name, .desk .desk-head .desk-name {
  font-weight: 700;
  white-space: normal;
  width: 100%;
}

.desk-items {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 20px;
}

.desk-items .placeholder, .desk-items .placeholder:hover {
  min-height: 20px;
  background-color: #d0d0d0;
}



.CardList .placeholder {
  height: 100%;
}
