.ParticipantChat {
    margin-top: 10px;
    height: 100%;

    .Messages {
        height: 100%;

        .Messages-body {
            height: 300px;
            overflow-y: scroll;
            .media-heading {
                padding-right: 15px;
            }
        }
    }
}


