.FileUpload {
  position: relative;

  .input-group .form-control {
    z-index: 0;
  }

  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 0;
  }

  input[type=file] {
    position: absolute;
    font-size: 0px;
    line-height: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 9;
  }
  .progress {
    margin-top: 5px;
  }
}
