@import "../../../styles/flexbox.less";
@import "../../../styles/variables.less";


.ConferenceHeader {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: @brand-primary;

    button {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: rgba(20, 20, 20, 0.4);
    }

    .ConferenceHeader-logo {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-top: 20px;
        cursor: pointer;
        img {
            height: 110px;
        }
    }

    .ConferenceHeader-head {
        width: 60%;
        display: inline-block;
        color: white;
        span {
            padding-left: 5px;
            padding-right: 5px;
            background-color: rgba(20, 20, 20, 0.2);
        }
    }

    .EditableString.EditableString-editable {
        textarea {
            font-size: 14px;
            width: 60%;
        }
    }

}
