.Card {
  width: 90%;
  margin: 0 auto 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  -webkit-transition: .15s;
  transition: .15s;
  cursor: pointer;
  padding-bottom: 1px;
}

.Card:hover {
  background: #f7f7f7;
}

.Card .Card-name {
  padding: 5px 10px;
  border-bottom: 1px solid #dbdbdb;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}

.Card .Card-attachments, .Card .Card-options {
  margin-top: 5px;
}

.Card .Card-comment {
  margin: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
}

.Card .Card-container {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  zoom: 1;
}

.Card .Card-container:after, .Card .Card-container:before {
  content: "";
  display: table;
}

.Card .Card-container:after {
  clear: both;
}

.Card .Card-container .Card-avatar-wrap {
  width: 70px;
  float: left;
  margin-bottom: 5px;
}

.Card .Card-container .Card-avatar-wrap img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.Card .Card-container .Card-content {
  white-space: normal;
}

.Card .Card-container .Card-content .Card-author {
  font-size: 16px;
  font-weight: bolder;
}

.Card .Card-container .Card-content p {
  margin: 5px 0;
}

.Card .Card-perfomers {
  zoom: 1;
  padding: 5px 10px;
}

.Card .Card-perfomers:after, .Card .Card-perfomers:before {
  content: "";
  display: table;
}

.Card .Card-perfomers:after {
  clear: both;
}

.Card .Card-perfomers .add-perfomers {
  float: left;
}

.Card .Card-perfomers .delete-perfomers {
  float: right;
}

.Card .Card-perfomers .add-perfomers a, .Card .Card-perfomers .delete-perfomers a {
  display: block;
  float: left;
  margin-right: 3px;
}

.Card .Card-perfomers .add-perfomers a img, .Card .Card-perfomers .delete-perfomers a img {
  width: 15px;
  height: 15px;
}

.Card .Card-perfomers .add-perfomers .perfomer, .Card .Card-perfomers .delete-perfomers .perfomer {
  float: left;
}

.Card .Card-perfomers .add-perfomers .perfomer img, .Card .Card-perfomers .delete-perfomers .perfomer img {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
