.SpeakerInfo {
  background-color: white;
  border-radius: 0 4px 4px 4px;
  padding: 15px;

  table {
    width: 100%;

    .SpeakerInfo-fullName {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
    }

    .SpeakerInfo-avatar {
      width: 110px;
    }

    tr.subhead {
      border-top: solid 1px #ddd;
      font-size: 8px;

      th {
        padding-top: 0px;
        padding-bottom: 5px;
      }
    }
  }

  td {
    height: 10px;
  }

  th, td {
    border-top: none;
  }

  .entity td, .entity th, .entity caption {
    border: 1px solid #dddddd;
  }
}
