@import "./font-awesome/less/font-awesome";
@import "./bootstrap.less";

html,
body {
    height: 100%;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -10000;
}

#id_site_head {
    height: 100px;
    margin-bottom: 90px;
    background-size: cover;
    border: none;
}

.pic {
    display: block;
    height: 100px;
    padding-top: 50px;
    margin-left: 10px;
}

.pic .name {
    display: inline-block;
    font-size: 25px;
    color: white;
    background: rgba(99, 99, 99, 0.3);
    vertical-align: top;
    padding: 0px 3px 0px 3px;
    margin-top: 13px;
    border-radius: 4px;
}

#id_subhead_menu {
    padding-left: 120px;
    padding-top: 15px;
}

#id_subhead_menu .btn{
    margin-bottom: 5px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: rgba(245, 245, 245, 0.67);
}

.speaker_actions {
    margin-top: 3px;
    padding: 3px;
}

.speaker_actions a {
    margin-top: 2px;
    width: 30px;
    margin-left: 3px;
    cursor: pointer;
    text-decoration: none;
}

.no-top-border{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.file-link {
    margin-left: 5px;
    margin-right: 5px;
}
