// =============================================================================
// Jumbotron
// =============================================================================

@import "../../../../node_modules/bootstrap/less/jumbotron.less";

.jumbotron {
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
