// =============================================================================
// Mixins
// =============================================================================

@import "../../../../node_modules/bootstrap/less/mixins.less";
@import "./variables.less";


.vitimPlaceholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}

.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.filter(@grayscale: 1, @brightness: 1.5, @invert: 0) {
  -webkit-filter: grayscale(@grayscale) brightness(@brightness) invert(@invert);
  -moz-filter: grayscale(@grayscale) brightness(@brightness) invert(@invert);
  -o-filter: grayscale(@grayscale) brightness(@brightness) invert(@invert);
  -ms-filter: grayscale(@grayscale) brightness(@brightness) invert(@invert);
  filter: grayscale(@grayscale) brightness(@brightness) invert(@invert);
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.statusText() {
  font-size: 12px;
  line-height: 21px;
  font-family: @base_font_family;
  opacity: 0.3;
}

.blur(@value){
    filter: blur(@value);
    -webkit-filter: blur(@value);
}

.switchButtonMixin(@container-width: 26px, @container-height: 16px, @checker-border: 2px) {
  @checker-height: @container-height;

  .SwitchButton {
    cursor: pointer;
    padding-top: 6px;

    label {
      color: @blue;
    }

    .SwitchButton-container {
      margin-left: 10px;
      margin-bottom: -3px;
      display: inline-block;
      height: @container-height;
      width: @container-width;
      background-color: @blue;
      .border-radius(50px);

      .SwitchButton-checker {
        vertical-align: middle;
        height: @checker-height;
        width: @checker-height;
        border: solid 1px @blue;
        background-color: white;
        .border-radius(50px);
      }

      .transition(all .4s ease);
    }
  }

  .SwitchButton--checked {
    label {
      color: @gray;
    }

    .SwitchButton-container {
      margin-left: 10px;
      opacity: 0.7;
      background-color: white;
      border: solid 1px @gray;
      padding-left: @container-width - @checker-height;

      .SwitchButton-checker {
        margin-top: -1px;
        border: solid 1px @gray;
      }
    }
  }
}
