@import "../../styles/conference.less";
@import "./Header.less";
@import "./EmailSignInForm.less";
@import "./SocialOAuth.less";


#root {
    min-height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background: url('./images/background.jpg') no-repeat fixed;
}


.children-enter {
  opacity: 0.8;
  transition: opacity .5s ease-in;
}

.children-enter.children-enter-active {
  opacity: 1;
}

.children-leave {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.children-leave.children-leave-active {
  opacity: 0;
}

.App-content {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

