@import "../../styles/variables.less";
@import "../../styles/mixins.less";

.popover-content .or {
    margin: 0px 10px 10px 5px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.Header {
    padding-bottom: 50px;

    #sign-in-nav-dropdown + ul {
        padding-bottom: 10px;
        padding-top: 10px;
        .form-group:last-child {
            margin-bottom: 0;
        }

        & > .disabled > a:hover, & > .disabled > a:focus {
            cursor: auto;
        }

    }
}
